//please rename this file to testconfig_test.go
package cachegroup

var testConfig = `[{
	"Driver":"freecache",
	"Config":{"Size": 10000000},
	"TTL":-1
	},
	{
	"Driver":"freecache",
	"Config":{"Size": 10000000},
	"TTL":-1
	}]`
