//please rename this file to testconfig_test.go
package nsq

var testConfig = `{
			"Driver":"nsq",
			"Config":{
				"Addr":"1.1.1.1:4150",
				"Topic":"test",
				"Chanel":"ch"
			}
        }`

var testLookupConfig = `{
			"Driver":"nsq",
			"Config":{
				"Addr":"1.1.1.1:4150",
				"LookupAddr":"1.1.1.2:4161",
				"Topic":"test",
				"Chanel":"ch"
			}
        }`
