//please rename this file to testconfig_test.go
package redislistqueue

var testConfig = `{
			"Driver":"redislist",
			"Config":{
			"Timeout":30,
			"Topic":"topicname",
            "Network": "tcp",
            "Address": "127.0.0.1:6379",
            "Password": "",
            "Db": 1,
            "ConnectTimeout": 60,
            "ReadTimeout": 60,
            "WriteTimeout": 60,
            "MaxIdle": 100,
            "MaxAlive": 200,
			"IdleTimeout": 60
			}
        }`
